<!DOCTYPE html>
<html lang="en">
    
    {% include head.html %}

                                          <!-- START OF CONTENT  -->
    <body>                                
        
                                          <!-- top slice of bread  -->
       {% include header.html %}        
     
                                          <!-- sandwich meat  -->
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <img-fluid src="/assets/clubpfp.svg" style='width: 100%; object-fit: contain' />
                        <p><a href="https://ku-supercomputing-club.github.io/index">   <b>Home</b>             </a></p>
                        <p><a href="https://ku-supercomputing-club.github.io/sponsor">   <b>Sponsor</b>        </a></p>
                        <p><a href="https://ku-supercomputing-club.github.io/news">   <b>News</b>              </a></p> 
                        <p><a href="https://ku-supercomputing-club.github.io/blogs">   <b>Blogs</b>            </a></p> 
                        <p><a href="https://ku-supercomputing-club.github.io/projects">   <b>Projects</b>      </a></p>
                </div>
                <div class="col-sm-8 text-left"> 
                      {{ content }}            
                </div>
            </div>
        </div>
                                          <!-- bottom slice of bread  -->
       {% include footer.html %}        
        
                                          <!-- END OF CONTENT  --> 
    </body>                               

</html>

<style>
    .row.content {height: 100%}

    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
</style>
