<!DOCTYPE html>
<html lang="en">
    
    {% include head.html %}

                                          <!-- START OF CONTENT  -->
    <body>                                
        
                                          <!-- top slice of bread  -->
       {% include header.html %}        
     
                                          <!-- sandwich meat  -->
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav" style="background-color:#EEEEEE;">
                    <img src="/assets/clubpfp.svg" />
                      <p>
                          <a href="https://ku-supercomputing-club.github.io/index">   <b>Home</b>             </a><br>
                          <a href="https://ku-supercomputing-club.github.io/sponsor">   <b>Sponsor</b>        </a><br>
                          <a href="https://ku-supercomputing-club.github.io/news">   <b>News</b>              </a><br> 
                          <a href="https://ku-supercomputing-club.github.io/blogs">   <b>Blogs</b>            </a><br>  
                          <a href="https://ku-supercomputing-club.github.io/projects">   <b>Projects</b>      </a><br> 
                      </p>
                </div>
                <div class="col-sm-8 text-left"> 
                   {{ content }}                      
                </div>
            </div>
        </div>
                                          <!-- bottom slice of bread  -->
       {% include footer.html %}        
        
                                          <!-- END OF CONTENT  --> 
    </body>                               

</html>
